::-webkit-scrollbar{width:8px;height:8px;background:#292a2d}::-webkit-scrollbar-thumb{background:#888}::-webkit-scrollbar-thumb:hover{background:#dcdcdc}

@media screen and (max-width: 45em) {
	::-webkit-scrollbar{
		display: none;
	}
}
@font-face {
font-family: 'optima';
font-style: normal;
font-weight: normal;
src: local('optima'), url('https://intimeand.space/css/optima.woff') format('woff');
}
@font-face {
font-family: 'consolas';
font-style: normal;
font-weight: normal;
src: local('consolas'), url('https://intimeand.space/css/consolas.woff') format('woff');
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/*font-family: optima;*/
	/*font-family: monospace;*/
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: 'Inria Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	/*background-color: rgb(225, 225, 230);*/
	/*background-color: #292a2d;*/
	/*color: rgb(20, 20, 25);*/
	background-color: #FBF8F3;
	color: #333;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
.links-bar{
	width: 100%;	
	z-index: 100;
	flex: 0 1 auto;
}
.container {
	/* height: 100%; */
	/*overflow: auto;*/
	overflow-y: scroll;
	top: 0px;
	flex: 1 1 auto;
	padding-left: 1em;
	padding-right: 1em;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}
a:hover {
	padding-bottom: 1px;
}
a img {
	border-bottom: none;
}
a img:hover {
	border-bottom: none;
}
.links {
	display: inline-block;
	/*width: 100%;*/
	text-align: left;
	/*background-color: rgb(20, 20, 25);*/
	background-color: #212020;
	position: relative;
	z-index: 10;
	width: auto;
}
.links a {
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	color: #a9a9b3;
	border-bottom: none;
	height: 1em;
}
.links a:hover {
	background-color: rgba(225, 225, 230, 0.2);
}

.links-right {
	display: block;
	top: 0px;
	margin: 0;
	padding: 0;
	text-align: right;
	position: relative;
	margin-top: -3em;
	top: 0em;
	z-index: 5;
	right: 1em;
	height: 3em;
	background-color: #212020;
	left: 0px;
}
.links-right img {
	padding: 9px;
	height: 1.5em;
}
@media screen and (max-width: 45em) {
	.links-right {
		text-align: center;
		width: 100%;
		right: 0em;
		margin-top: 0px;
	}
	.links {
		text-align: center;
		width: 100%;
	}
	.links a {
		padding: 1em 1em;
		
	}
	.links-right img {
		height: 1.5em;	
		padding: 5px;
	}
}
.links-right img:hover {
	background-color: rgba(225, 225, 230, 0.2);
}
.links-right a {
	border-bottom: none;
}

.icons {
	border-bottom: none;
	height: 2em;
	position: absolute;
}
.icons-link {
	border-bottom: none;
}
#cv-download {
	position: absolute;
	right: 1.5em;
	top: 0.5em;
}
.sub-links {
	display: block;
	width: 100%;
	text-align: left;
	/*background-color: rgb(215, 215, 220);*/
	background-color: #212020;
	position: relative;
	top: 0em;
	z-index: 10;
	/*box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);*/
	
}
@media screen and (max-width: 45em) {
	.sub-links {
		text-align: center;
	}
}
.sub-links a {
	padding: 0.5em 2em;
	display: inline-block;
	text-decoration: none;
	color: inherit;	
	margin: 0em;
	border-bottom: none;
	height: 1em;

	color: #a9a9b3;
}

.sub-links a:hover {
	/*background-color: rgb(225, 225, 230);	*/
	background-color: #292a2d;
}
.sub-links a.active {
	/*background-color: rgb(225, 225, 230);	*/
	background-color: #292a2d;
}


article {
	margin: 3em auto;
	margin-bottom: 2em;
	position: relative;
	/*text-align: justify;*/
	max-width: 40em;
	min-height: 20em;
	padding: 0em 0em;
	line-height: 1.5em;
}

article h1, article h2 {
	width: 100%;
	text-align: center;
	/*text-transform: uppercase;*/
	font-size: 3em;
	word-spacing: 0.3em;
	margin: 0.3em 0em;
	margin-top: 1em;
	font-weight: 400;
	line-height: 1em;
}
article h3 {
	font-weight: 300;
}
article h2 {
	font-size: 1.4em;
	text-transform: none;
}
@media screen and (max-width: 45em) {
	article {
		padding: 0em 0em;
	}
	article h1 {
		font-size: 1.5em;
	}

	#moto {
		font-size: 1em;
	}

}
@keyframes imgwrapper_frames_open {
	from {height: 12em; width: 12em; border-radius:6em;}
	to {height: 20em; width: 20em; border-radius:10em;}
}
@keyframes imgwrapper_frames_close {
	to {height: 12em; width: 12em; border-radius:6em;}
	from {height: 20em; width: 20em; border-radius:10em;}
}
@keyframes profile_frames_open {
	from {left: -29em; top: -35em; width: 74.8em;height:112em;}
	to {left: 0em; top: -3em; width:20em;height:30em;}
}
@keyframes profile_frames_close {
	to {left: -29em; top: -35em; width: 74.8em;height:112em;}
	from {left: 0em; top: -3em; width:20em;height:30em;}
}
#imgwrapper {
	padding: 0px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	overflow: hidden;
	animation-duration: 2s;
	cursor: pointer;
	display: block;
	border: 0px;
}
#imgwrapper:hover {
	transform: scale(1.02);
}
.imgwrapperclosed {
	height: 12em;
	width: 12em;
	border-radius: 6em;	
}
.imgwrapperopen {
	height: 20em;
	width: 20em;
	border-radius: 10em;
}
	
article .profile {
	position: absolute;
	animation-duration: 2s;
}
.profileclosed {
	height: 112em;
	width: 74.8em;
	left: -29em;
	top: -35em;
}
.profileopen {
	height: 30em;
	width: 20em;
	top: -3em;
	left: 0em;
}

.footer {
	padding: 1em;
	margin: 0em auto;
	position: relative;
	text-align: center;
	max-width: 40em;
	border-top: solid 1px rgb(200, 200, 200);
	color: rgb(150, 150, 165);
}
iframe {
	border: none;
	width: 100%
}
.iframecontainer {
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
	position: relative;
	top: 1em;
}
.iframeoutercontainer {
	width: 100%;
	background-color: white;
}

.code-block {
	/*background-color: white;*/
	background-color: #212020;
		
	font-family: monospace;
	padding: 1em;
	line-height: 1.5em;
	overflow-wrap: break-word;
	text-align: left;
	color: #666666;
}
.code-keyword {
	/*color: blue;*/
	color: #36663f;
}

.publication {
	padding: 1em;
/*	background-color: #212020;*/
	
}

.publication-title {
	/*color: white;*/
	/*font-weight: 500;*/
	font-weight: bold;
}
