
RedirectMatch 403 ^/.git/.*$
RedirectMatch 403 ^/.git/?$
#RedirectMatch 403 .*\.txt$


RewriteEngine on

RewriteCond %{REQUEST_URI} !/robots\.txt$ [nocase]
RewriteRule \.txt$ - [forbidden,last]

RewriteCond %{HTTP_HOST} bc\-api\.intimeand\.space$ [NC]
#RewriteRule ^(.*)$ http://royal.csail.mit.edu:8234/$1 [P]
RewriteRule ^(.*)$ http://kael.csail.mit.edu:8234/$1 [P]

RewriteCond %{HTTP_HOST} bc\-api\-dev\.intimeand\.space$ [NC]
RewriteRule ^(.*)$ http://kael.csail.mit.edu:8236/$1 [P]

RewriteCond %{HTTP_HOST} reflectile\.intimeand\.space$ [NC]
RewriteCond %{REQUEST_URI} /api
RewriteRule ^(.*)$ http://kael.csail.mit.edu:6677/api [P]

#SSLOptions +StdEnvVars +StrictRequire
#SSLOptions +StdEnvVars +OptRenegotiate -StrictRequire +FakeBasicAuth -ExportCertData 
#SSLRequireSSL
#SSLVerifyClient require
#SSLVerifyDepth 10
#SSLVerifyClient optional_no_ca

# Add trailing slashes first
# We add trailing slashes to directories first so as to ensure that the backend doesn't redirect
# This is probably a hack. Figure out how to make it such that the redirect from backend is modified properly

RewriteCond %{REQUEST_URI} ^([^.]+)[^/]$
RewriteRule ^([^.]+)$ /$1/ [L,R]

# Configuration for subdomains
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} ^(.*)\.intimeand\.space$ [NC]
RewriteRule ^(.*)$ https://intimeand.space/subdomains/%1/$1 [P]


RewriteCond %{HTTP_HOST} buildit\.so$ [NC]
RewriteRule ^(.*)$ https://intimeand.space/subdomains/buildit.so/$1 [P]

RewriteCond %{HTTP_HOST} ajay\.hair$ [NC]
RewriteRule ^(.*)$ https://intimeand.space/subdomains/ajay.hair/$1 [P]

DirectoryIndex index.php index.html
Options -Indexes

<If "%{HTTP_HOST} == 'bc-api.intimeand.space'">
  Header set Access-Control-Allow-Origin "*"
</If>

<If "%{HTTP_HOST} == 'bc-api-dev.intimeand.space'">
  Header set Access-Control-Allow-Origin "*"
</If>

<If "%{HTTP_HOST} == 'bc-api-test.intimeand.space'">
  Header set Access-Control-Allow-Origin "*"
</If>


<FilesMatch ".(eot|otf|ttf|woff)">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>

